### Gradle ###
!**/src/main/**/build/
!**/src/test/**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar
!src/**/build/
**/build/
.gradle
.gradletasknamecache
build/
gradle-app.setting

### Java ###
*.class
*.ctxt
*.ear
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.mtj.tmp/
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
*.ipr
*.iws
.idea/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/compiler.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
